.root{
  height: 100%;
  width: 100%;
}
.head{
  height: 7%;
  width: 100%;
}
.main{
  width: 100%;
  height: 80%;
}
.foot{
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  /*align-items: center;*/
}
